@model IEnumerable<ClimbingApplication.Models.Felhasznalok>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vezetekNev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.keresztNev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jelszo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.szuletesiIdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonszam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelyHozzaado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hozzaszolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValaszokID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vezetekNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keresztNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jelszo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.szuletesiIdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonszam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelyHozzaado.cim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hozzaszolo.hozzaszolas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValaszokID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
