@model ClimbingApplication.Models.Utak

@{
    ViewData["Title"] = "Delete";
}

<h1>Törlés</h1>

<h3>Biztos, hogy törölni szeretné??</h3>
<div>
    <h4>Utak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nehezseg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nehezseg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leiras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leiras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.letrehozva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.letrehozva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Falonut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Falonut.kep)
        </dd>
        <dt class="col-sm-2">
            Létrehozó
        </dt>
        <dd class="col-sm-10">
            @Model.UtLetrehozo?.email
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-controller="Utak" asp-action="Index" asp-route-falId="@ViewBag.FalId" class="btn btn-secondary">Vissza az utakhoz</a>
    </form>
</div>
