@model IEnumerable<ClimbingApplication.Models.Utak>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nehezseg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leiras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.letrehozva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Falonut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FelhasznaloID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.kep)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nehezseg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leiras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.letrehozva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Falonut.nev)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UtLetrehozo.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <h5>Hosszászólások</h5>
                <div>
                        @if(item.Hozzaszolasoks != null && item.Hozzaszolasoks.Any())
                        {
                            foreach (var hozzaszolas in item.Hozzaszolasoks)
                            {
                             
                                <div class="border p-2 my-2">
                                    <strong> @hozzaszolas.UtHozzaszolo?.felhasznaloNev</strong>
                                    <p>@hozzaszolas.hozzaszolas</p>

                                    @if (User.Identity.IsAuthenticated &&
                                   (hozzaszolas.FelhasznaloID == int.Parse(User.FindFirstValue("UserId")) || User.IsInRole("admin")))
                                    {
                                        <!-- Szeksztés itt-->
                                        <form asp-controller="Hozzaszolasok" asp-action="myEdit" method="post" class="d-inline">
                                            <input type="hidden" name="id" value="@hozzaszolas.ID" />
                                            <input type="text" name="hozzaszolas" value="@hozzaszolas.hozzaszolas" class="form-control d-inline w-50" />
                                            <button type="submit" class="btn btn-sm btn-warning">Mentés</button>
                                        </form>

                                        <!--Törlés itt-->
                                        <form asp-controller="Hozzaszolasok" asp-action="myDelete" method="post" class="d-inline">
                                            <input type="hidden" name="id" value="@hozzaszolas.ID" />
                                            <button type="submit" class="btn btn-sm btn-danger">Törlés</button>
                                        </form>
                                    }

                                    <!--Válaszok itt lesznek-->
                                    @if(hozzaszolas.Valaszok != null && hozzaszolas.Valaszok.Any())
                                    {
                                       <div class="ms-4">
                                            @foreach(var valaszok in hozzaszolas.Valaszok)
                                            {
                                                <div class="border-start ps-2 my-1">
                                                <strong>@valaszok.Valasziro?.felhasznaloNev</strong>
                                                <p>@valaszok.valasz</p>
                                                </div>

                                                @if (User.Identity.IsAuthenticated && (valaszok.FelhasznaloID == int.Parse(User.FindFirstValue("UserId")) || User.IsInRole("admin")))
                                                {
                                                    <!--Szekeszési rész-->
                                                    <form asp-asp-controller="Valaszok" asp-action="myEdit" method="post" class="d-inline">
                                                        <input type="hidden" name="id" value="@valaszok.ID" />
                                                        <input type="text" name="valasz" value="@valaszok.valasz" class=" form-control d-inline w-50" />
                                                        <button type="submit" class="btn btn-sm btn-warning">Mentés</button>
                                                    </form>

                                                    <!--Törlési rész-->
                                                    <form asp-asp-controller="Valaszok" asp-action="myDelete" method="post" class="d-inline">
                                                        <input type="hidden" name="id" value="@valaszok.ID" />
                                                        <button type="submit" class="btn btn-sm btn-danger">Törlés</button>
                                                    </form>
                                                }
                                                
                            }
                                         </div>   
                                    }
                                        <!--Új válasz írása-->
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <form asp-controller="Valaszok" asp-action="myCreate" method="post" class="ms-4 mt-2">
                                                <input type="hidden" name="hozzaszolasId" value="@hozzaszolas.ID"/>
                                                <textarea name="valasz" class="form-control" placeholder="Valasz helye"></textarea>
                                                <button type="submit" class="btn btn-primary mt-1">Valasz</button>
                                            </form>
                                        }
                                        
                                                       
                                </div>
                            }
                        }
                        else
                        {
                            <li>Nincsenek még hozzászólások</li>
                        }

                        <!--Új hozzászólás írása-->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Hozzaszolasok" asp-action="myCreate" method="post" class="mt-3">
                                <input type="hidden" name="utakId" value="@item.ID"/>
                                <textarea name="hozzaszolas" class="form-control" placeholder="Valasz helye"></textarea>
                                <button type="submit" class="btn btn-success mt-1">Hozzászólás</button>
                            </form>
                        }
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
