@model ClimbingApplication.Models.FalmaszoHelyek

@{
    ViewData["Title"] = "Details";
}

<h1>Részletek</h1>

<div>
    <h4>Falmászó Helyek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orszag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orszag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.honlap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.honlap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leiras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leiras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hozzaado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hozzaado.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Vissza a falmászóhelyekre</a>
</div>
