@model IEnumerable<ClimbingApplication.Models.FalmaszoHelyek>

@{
    ViewData["Title"] = "Index";
}

<h1>Falmászó helyek</h1>

<p>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
    <a asp-action="Create" class="btn btn-primary">Új hely hozzáadása</a>
    }
</p>
<table class="table">
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <p>
                       <h5> Ország</h5>  @Html.DisplayFor(modelItem => item.orszag)
                    </p>
                    <p>
                        <h5>Cím</h5>   @Html.DisplayFor(modelItem => item.cim)
                    </p>
                    <p>
                        <h5>Honlap</h5> <a href="@Html.DisplayFor(modelItem => item.honlap)" target="_blank">A terem weboldala</a>
                    </p>
                    <p>
                        <h5>A terem neve</h5> @Html.DisplayFor(modelItem => item.nev)
                    </p>
                    <p>
                        <h5>Leírás</h5> @Html.DisplayFor(modelItem => item.leiras)
                    </p>
                    <p>
                        <h5>Hozzáadta</h5>@Html.DisplayFor(modelItem => item.Hozzaado.felhasznaloNev)
                    </p>
                    <p>
                        <a asp-controller="Falak" asp-action="Index" asp-route-falmaszoHelyId="@item.ID" class="btn btn-lg">
                            A teremben található falak
                        </a>
                    </p>
            </td>
            
                <td class ="d-flex align-items-center gap-2">
                
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Részletek</a> 
                

                    @if(User.Identity.IsAuthenticated && (item.FelhasznalokID == int.Parse(User.FindFirstValue("UserId")) || User.IsInRole("admin")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Szerkesztés</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Törlés</a>
                    }

            </td>
        </tr>
}
</tbody>
</table>
