@model ClimbingApplication.Models.Hozzaszolasok

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hozzaszolasok</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hozzaszolas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hozzaszolas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtHozzaszolas)
        </dt>
        <dd class = "col-sm-10">
           <img src="@Html.DisplayFor(model => model.UtHozzaszolas.kep)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtHozzaszolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtHozzaszolo.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
