@model ClimbingApplication.Models.Utak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nehezseg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nehezseg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leiras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leiras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.letrehozva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.letrehozva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hozzaszolas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hozzaszolas.hozzaszolas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
