@model ClimbingApplication.Models.Felhasznalok

@{
    ViewData["Title"] = "Details";
}

<h1>Részletek</h1>

<div>
    <h4>Felhasználók</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vezetekNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vezetekNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.keresztNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.keresztNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jelszo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jelszo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.szuletesiIdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.szuletesiIdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonszam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.felhasznaloNev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.felhasznaloNev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Vissza a felhasználókhoz</a>
</div>
