@model IEnumerable<ClimbingApplication.Models.Felhasznalok>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Új felhasználó hozzáadása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Vezetéknév
            </th>
            <th>
                Keresztnév
            </th>
            <th>
                email
            </th>
            <th>
                Jelszo
            </th>
            <th>
                Születési idő
            </th>
            <th>
                Telefonszám
            </th>
            <th>
                rang
            </th>
            <th>
                Felhasználónév
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vezetekNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keresztNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jelszo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.szuletesiIdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonszam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.felhasznaloNev)
            </td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Szerkesztés</a> 
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Részletek</a> 
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
