@model IEnumerable<ClimbingApplication.Models.Felhasznalok>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Új felhasználó hozzáadása</a>
</p>
<table class="table">

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <p>
                        <h5>Vezetéknév</h5> @Html.DisplayFor(modelItem => item.vezetekNev)
                    </p>
                    <p>
                        <h5>Keresztnév</h5>  @Html.DisplayFor(modelItem => item.keresztNev)
                    </p>
                    <p>
                        <h5>Email</h5> @Html.DisplayFor(modelItem => item.email)
                    </p>
                    <p>
                        <h5>elszo</h5>Jelszo:  @Html.DisplayFor(modelItem => item.jelszo)
                    </p>
                <p>
                    <h5>Születési idő</h5>Születési idő: @Html.DisplayFor(modelItem => item.szuletesiIdo)
                </p>
                <p>
                    <h5>Telefonszám</h5>Telefonszám: @Html.DisplayFor(modelItem => item.telefonszam)
                </p>
                <p>
                    <h5>Rang</h5>Rang: @Html.DisplayFor(modelItem => item.rang)
                </p>
                <p>
                    <h5>Felhasználónév</h5>Felhasználónév: @Html.DisplayFor(modelItem => item.felhasznaloNev)
                </p>
            </td>
            
                <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Szerkesztés</a> 
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Részletek</a> 
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
