@model IEnumerable<ClimbingApplication.Models.Felhasznalok>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("admin")))
                                    {
    <a asp-action="Create" class="btn btn-primary">Új felhasználó hozzáadása</a>
                                    }
</p>

<div class="row justify-content-center">

    <div>
@foreach (var item in Model) {

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3>@Html.DisplayFor(modelItem => item.felhasznaloNev)</h3>

             <dl class="row mt-3">
                        <dt class="col-sm-4">
                            Vezetéknév
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelItem => item.vezetekNev)
                        </dd>

                        <dt class="col-sm-4">
                            Keresztnév
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelItem => item.keresztNev)
                        </dd>

                        <dt class="col-sm-4">
                            Email
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelItem => item.email)
                        </dd>

                        <dt class="col-sm-4">
                            Rang
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelItem => item.rang)
                        </dd>

                        <dt class="col-sm-4">
                            Születési idő
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelItem => item.szuletesiIdo)
                        </dd>

                        <dt class="col-sm-4">
                            Telefonszám
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(modelItem => item.telefonszam)
                        </dd>
                        
                        <dt class="col-sm-4">
                            Jelszó (Hash)
                        </dt>
                        <dd class="col-sm-8">
                            ********
                        </dd>
                    </dl>
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                         <div class="mt-4">
                            <div class="btn-group">
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Részletek</a>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Szerkesztés</a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Törlés</a>
                            </div>
                        </div>
                }
        </div>

    </div>
        
}
    </div>
</div>
