@model ClimbingApplication.Models.Falak

@{
    ViewData["Title"] = "Details";
}

<h1>Részletek</h1>

<div>
    <h4>Falak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.letrehozva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.letrehozva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Falhelye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Falhelye.cim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Letrehozo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Letrehozo.felhasznaloNev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-falmaszohelyId="@Model.FalmaszohelyID" class="btn btn-secondary">Vissza a falakhoz</a>
</div>
