@model IEnumerable<ClimbingApplication.Models.Falak>

@{
    ViewData["Title"] = "Index";
    var falmaszohelyId = ViewData["FalmaszohelyID"];
}



@if(ViewBag.TeremNev != null)
{
    <h2>A @ViewBag.TeremNev helyen található falak</h2>
}
<p>

</p>

@if(ViewBag.FalmaszohelyId != null)
{
    <p>
        <a asp-controller="FalmaszoHelyek" asp-action="Index" class="btn btn-secondary">Vissza a termekhez</a>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <a asp-controller="Falak" asp-action="Create" asp-route-falmaszohelyId="@falmaszohelyId" class="btn btn-primary">
                Új fal létrehozása
        </a>
        }
    </p>
}

<table class="table">
    <tbody>
@foreach (var item in Model) {
              
        <tr>
            <td>
                    <p>
                        <h3>@Html.DisplayFor(modelItem => item.nev)</h3> <a href="/FalmaszoHelyek/Utak/@item.ID" class="btn btn-lg"> A fal útjai</a>
                    </p>
                    <div class="d-flex align-items-start mt-3">
                        <!--Bal oldali rész-->
                        <div class="me-3">
                            <h5>Kép a falról</h5> <img src="@Html.DisplayFor(modelItem => item.kep)" />
                        </div>
                        <!--Jobb oldali eltolás-->
                        <div>
                            <p>
                                <h5>Létrehozás napja</h5> @Html.DisplayFor(modelItem => item.letrehozva)
                            </p>
                            <p>
                                <h5>Melyik teremben van</h5> @Html.DisplayFor(modelItem => item.Falhelye.nev)
                            </p>
                            <p>
                                <h5>Létrehozó</h5> @Html.DisplayFor(modelItem => item.Letrehozo.felhasznaloNev)
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2">

                            <a asp-controller="Falak" asp-action="Details" asp-route-id="@item.ID" asp-route-falmaszohelyId="@ViewBag.FalmaszohelyId" class="btn btn-info">Részletek</a>



                            @if (User.Identity.IsAuthenticated && (item.FelhasznaloID == int.Parse(User.FindFirstValue("UserId")) || User.IsInRole("admin")))
                            {
                                <a asp-controller="Falak" asp-action="Edit" asp-route-id="@item.ID" asp-route-falmaszohelyId="@ViewBag.FalmaszohelyId" class="btn btn-warning">Szerkesztés</a>
                                <a asp-controller="Falak" asp-action="Delete" asp-route-id="@item.ID" asp-route-falmaszohelyId="@ViewBag.FalmaszohelyId" class="btn btn-danger">Törlés</a>
                            }

                        </div>
                    </div>
                    
            </td>
            
                
        </tr>
    
}
    </tbody>
</table>
