@model IEnumerable<ClimbingApplication.Models.Falak>

@{
    ViewData["Title"] = "Index";
    var falmaszohelyId = ViewData["FalmaszohelyID"];
}



@if(ViewBag.TeremNev != null)
{
    <h2>A @ViewBag.TeremNev helyen található falak</h2>
}
@if(ViewBag.FalmaszohelyId != null)
{
    <p>
        <a asp-controller="Falak" asp-action="Create" asp-route-falmaszohelyId="@falmaszohelyId">
            Új fal létrehozása
        </a>
    </p>
}

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.letrehozva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Falhelye)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letrehozo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
              
        <tr>
            <td>
               <a href="/FalmaszoHelyek/Utak/@item.ID"> @Html.DisplayFor(modelItem => item.nev)</a>
            </td>
            <td>
               <img  src="@Html.DisplayFor(modelItem => item.kep)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.letrehozva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Falhelye.cim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letrehozo.felhasznaloNev)
            </td>
            <td>
                    <a asp-controller="Falak" asp-action="Edit" asp-route-id="@item.ID" asp-route-falmaszohelyId="@ViewBag.FalmaszohelyId">Edit</a> |
                    <a asp-controller="Falak" asp-action="Details" asp-route-id="@item.ID" asp-route-falmaszohelyId="@ViewBag.FalmaszohelyId">Details</a> |
                    <a asp-controller="Falak" asp-action="Delete" asp-route-id="@item.ID" asp-route-falmaszohelyId="@ViewBag.FalmaszohelyId">Delete</a>
            </td>
        </tr>
    
}
    </tbody>
</table>
